:host {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  align-self: stretch;
  flex-grow: 1;
}

.portal{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  align-self: stretch;
  flex-grow: 1;
}
