<div class="PasswordRequirements">
      <span [ngClass]="!eightLength ? 'PasswordRequirements__Error' : 'PasswordRequirements__Pass'">
        [{{eightLength ? 'X' : '&nbsp;&nbsp;&nbsp;'}}]&nbsp;&nbsp;Minimum length of 8
      </span>
  <span [ngClass]="!oneDigit ? 'PasswordRequirements__Error' : 'PasswordRequirements__Pass'">
        [{{oneDigit ? 'X' : '&nbsp;&nbsp;&nbsp;'}}]&nbsp;&nbsp;One digit
      </span>
  <span [ngClass]="!oneLowercase ? 'PasswordRequirements__Error' : 'PasswordRequirements__Pass'">
        [{{oneLowercase ? 'X' : '&nbsp;&nbsp;&nbsp;'}}]&nbsp;&nbsp;One lowercase
      </span>
  <span [ngClass]="!oneUppercase ? 'PasswordRequirements__Error' : 'PasswordRequirements__Pass'">
        [{{oneUppercase ? 'X' : '&nbsp;&nbsp;&nbsp;'}}]&nbsp;&nbsp;One uppercase
      </span>
  <span [ngClass]="!oneNonAlphanumeric ? 'PasswordRequirements__Error' : 'PasswordRequirements__Pass'">
        [{{oneNonAlphanumeric ? 'X' : '&nbsp;&nbsp;&nbsp;'}}]&nbsp;&nbsp;One non alphanumeric
      </span>
</div>

