<app-submit-form
  [formGroup]="form"
  [form]="form"
  [request]="updateRequest()"
  [formTitle]="formTitle"
  [formDescription]="formDescription"
  [submitText]="submitText"
  [successMessage]="successMessage"
  [successTitle]="successTitle" [onFormClosed]="onFormClosed"
  [onFormSuccess]="onFormSuccess">
  <app-form-input formControlName="displayname" type="displayname" [label]="'New DisplayName'"/>
  <app-form-input formControlName="password" type="password" [label]="'Password'"/>
</app-submit-form>
