:host{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.new-project{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100%;
  max-width: 1000px;

  padding: 2rem;
  gap: 10px;
}
