:host {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  flex-direction: column;

  flex-grow: 1;
  align-self: stretch;

  padding: 1rem 2rem 2rem;

  @media screen and (max-width: 768px) {
    padding: 1rem;
  }
}

.new-project{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  align-self: stretch;
  flex-grow: 1;

  gap: 10px;
}
