:host {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  flex-grow: 1;
  align-self: stretch;

  padding: 1rem 2rem 2rem;

  @media screen and (max-width: 768px) {
    padding: 1rem;
  }
}

.edit-project {
  box-sizing: border-box;

  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  max-width: 1000px;
  width: 100%;
}
