<div class="login">
  <img alt="icon" src="/ico.png" width="200" height="200">
  <h2>Login</h2>

  <ng-container *appEventSpinner="{condition : loggingIn ,eventMessage : 'Logging in....', stretchToParent : true}"/>

  @if (!loggingIn){
    <ng-container *ngTemplateOutlet="form" />
  }
</div>


<ng-template #form>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login__form">

    <div class="login__input-group">
      <label
        class="login__label"
        [class.error]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
      >
        Username
      </label>

      <input
        formControlName="username"
        class="login__input"
        [class.error]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
        type="text"
      />
    </div>

    <div class="login__input-group">
      <label
        class="login__label"
        [class.error]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
      >
        Password
      </label>

      <input
        formControlName="password"
        class="login__input"
        [class.error]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
        type="password"
      />
    </div>

    @if (loginForm.invalid && errorMessage) {
      <p class="login__error">{{errorMessage}}</p>
    }

    <div class="login__button-group">
      <button type="button" (click)="cancel()">Cancel</button>
      <button type="submit" [disabled]="loginForm.invalid">Confirm</button>
    </div>
  </form>
</ng-template>
