<ng-container *ngIf="isLoading else mainview">
  <div class="spinner"></div>
</ng-container>

<ng-template #mainview>
  <div *ngIf="project; else noProject">
    <div class="project">
      <ng-container *ngIf="isSmallScreen">
        <ng-container [ngTemplateOutlet]="small"></ng-container>
      </ng-container>

      <ng-container *ngIf="!isSmallScreen">
        <ng-container [ngTemplateOutlet]="large"></ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>


<ng-template #large>
  <!-- Header -->
  <ng-container *ngTemplateOutlet="header; context : {$implicit : project}"/>

  <!-- Content -->
  <div class="project__content">
    <div class="project__description">
      <ng-container *ngTemplateOutlet="description; context : {$implicit : project}"/>
    </div>
    <ng-container *ngTemplateOutlet="imageView; context : {$implicit : project}"/>
    <div class="project__description">
      <ng-container *ngTemplateOutlet="projectInfo; context : {$implicit : project}"/>
    </div>
  </div>

  <!-- Download Section -->
  <ng-container *ngTemplateOutlet="download; context : {$implicit : project}"/>
</ng-template>

<ng-template #small>
  <!-- Header -->
  <ng-container *ngTemplateOutlet="header; context : {$implicit : project}"/>

  <!-- Content -->
  <div class="project__content">
    <ng-container *ngTemplateOutlet="description; context : {$implicit : project}"/>
    <ng-container *ngTemplateOutlet="imageView; context : {$implicit : project}"/>
    <ng-container *ngTemplateOutlet="projectInfo; context : {$implicit : project}"/>
  </div>

  <!-- Download Section -->
  <ng-container *ngTemplateOutlet="download; context : {$implicit : project}"/>
</ng-template>

<ng-template #noProject>
  <p>No Project Found</p>
</ng-template>

<ng-template #header let-project>
  <div class="project__header">
    <div class="project__header__inner">
      <h1>{{ project.title }}</h1>
    </div>
  </div>
</ng-template>

<ng-template #imageView let-project>
  <div class="project__view">
    <ng-container *ngTemplateOutlet="displayImage; context : {$implicit : project}"/>
    <ng-container *ngTemplateOutlet="imageList; context : {$implicit : project}"/>
  </div>
</ng-template>

<ng-template #displayImage let-project>
  <div class="project__view__main-image" id="main-image">
    <img src="{{selectedImageUrl}}"
         [alt]="project.title + ' | image'"
         class="project__view__main-image__image"
    >
  </div>
</ng-template>

<ng-template #imageList let-project>
  <div class="imageHolder" id="image-holder">
    <ng-container *ngFor="let image of project.images, let i = index">
      <div class="imageHolder__holder"
           (click)="changePictureEvent(i, image)">
        <img class="imageHolder__image"
             src="{{image}}"
             id="image-{{i}}"
             alt="{{project.title}} - {{i}}"
             (load)="onImageLoad()"
             loading="eager"
        >
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #description let-project>
  <div class="project__description__title">
    <h2>Description</h2>
    <span>{{ project.description }}</span>
  </div>
</ng-template>

<ng-template #projectInfo let-project>
  <div class="project__description__statistic">
    <h2>Statistics</h2>
    <p>Project Filesize: {{ project.filesize }}</p>
    <p>Created Date: {{ project.date }}</p>
    <ng-container *ngFor="let detail of project.extraDetails">
      <p>{{ detail.key }} : {{ detail.value }}</p>
    </ng-container>
  </div>
</ng-template>

<ng-template #download let-project>
  <div class="project__download">
    <div class="project__download__links">
      <h2>Download Mirrors:</h2>
      <ng-container *ngFor="let link of project.links">
        <a [href]="link" target="_blank">{{ link }}</a>
      </ng-container>
    </div>
  </div>
</ng-template>
