<div class="form">
  <div class="form__content">
    @if (!processing) {
      @if (!updated) {
        <form [formGroup]="form" (ngSubmit)="submit()" class="form__form">
          @if (formTitle) {
            <h2 class="form__title">{{ formTitle }}</h2>
          }

          @if (formDescription) {
            <p class="form__description">{{ formDescription }}</p>
          }

          <!-- Form content -->
          <div class="form__input-group">
            <ng-content />
          </div>

          <p class="form__error">{{ errorMessage }}</p>

          <div class="form__button-group">
            <app-button
              [color]="'BASE'"
              type="button"
              [buttonText]="cancelText"
              (buttonClick)="onFormClosed()"/>
            <app-button
              [color]="isDangerous ? 'DANGEROUS' : 'SECONDARY'"
              type="submit"
              [buttonText]="submitText"/>
          </div>
        </form>
      } @else {
        <h2 class="form__title">{{ successTitle }}</h2>
        <p class="form__description" style="text-align: center">
          {{ successMessage }}
        </p>

        <div class="form__button-group" style="justify-content: center">
          <app-button
            type="button"
            [buttonText]="continueText"
            (buttonClick)="onFormClosed()"
          ></app-button>
        </div>
      }
    }

    <ng-container
      *appEventSpinner="{
        condition: processing,
        eventMessage: processMessage,
        stretchToParent: true
      }"
    ></ng-container>
  </div>
</div>
