<div class="form">
  <div class="form__form">
    @if (processing) {
      <ng-container *appEventSpinner="{ condition: processing, eventMessage: eventMessage, stretchToParent: false }" />
    } @else {
      <ng-container *ngTemplateOutlet="mfaSuccess" />
    }
  </div>
</div>

<ng-template #mfaSuccess>
  @if (mfaOperationSuccess) {
    <div class="form__content">
      <h2 class="form__title">{{ mfaOperationMessage }}</h2>
      <p>MFA has either been enabled or disabled on this account</p>
      <button class="form__button form__button__cancel" (click)="onFormClosed()">Return</button>
    </div>
  } @else {
    <ng-container *ngTemplateOutlet="MfaView" />
  }

  <ng-template #MfaView>
    <div class="form__content">
      <h2 class="form__title">{{ mfaEnabled ? 'Disable MFA' : 'Enable MFA' }}</h2>

      @if (!mfaEnabled && !hasQr) {
        <div class="form__button-group">
          <button (click)="onFormClosed()" class="form__button form__button__cancel">Cancel</button>
          <button (click)="getQRCode()" class="form__button form__button__submit"><p>Generate QR code</p></button>
        </div>
      } @else if (hasQr || mfaEnabled) {
        @if (!mfaEnabled && hasQr) {
          <div class="qr-div">
            <canvas class="qr-canvas" id="qr-canvas"></canvas>
          </div>
        }
        <ng-container *ngTemplateOutlet="MfaForm" />
      }

      <p class="form__error">{{ qrError }}</p>
    </div>
  </ng-template>

  <ng-template #MfaForm>
    <form [formGroup]="form" (ngSubmit)="changeMFA()" class="form__content">
      @if (mfaEnabled) {
        <p>MFA is currently enabled on this account</p>
      }
      <div class="form__input-group">
        <label class="form__label" [class.error]="hasError('password')">Password</label>
        <input type="password" formControlName="password" class="form__input" [class.error]="hasError('password')" />
      </div>

      <div class="form__input-group">
        <label class="form__label" [class.error]="hasError('code')">
          {{ mfaEnabled ? 'MFA Code' : 'Confirm Code' }}
        </label>

        <input
          formControlName="code"
          class="form__mfa-input"
          [class.error]="form.get('code')?.invalid && form.get('code')?.touched"
          type="text"
          maxlength="6"
          inputmode="numeric"
          pattern="[0-9]*"
          (input)="onCodeInput()"
        />
      </div>

      <p class="form__error">{{ mfaError }}</p>

      <div class="form__button-group">
        <button type="button" class="form__button form__button__cancel" (click)="onFormClosed()">Cancel</button>
        <button type="submit" class="form__button form__button__submit">
          {{ mfaEnabled ? 'Disable' : 'Enable' }}
        </button>
      </div>
    </form>
  </ng-template>
</ng-template>
