<div class="form">
  @if (!processing) {
    @if (!updated) {
      <form [formGroup]="form" (ngSubmit)="submit()" class="form__form">

        <h2 class="form__title">Change Password</h2>
        <p class="form__description">This action will resend a password reset mail to your email that you will have to
          follow to change your password.</p>

        <div class="form__input-group">
          <label
            class="form__label"
            [class.error]="form.get('currentPassword')?.invalid && form.get('currentPassword')?.touched">
            Current Password
          </label>

          <input
            formControlName="currentPassword"
            class="form__input"
            [class.error]="form.get('currentPassword')?.invalid && form.get('currentPassword')?.touched"
            type="password"
          />
        </div>

        <div class="form__input-group">
          <label
            class="form__label"
            [class.error]="form.get('newPassword')?.invalid && form.get('newPassword')?.touched">
            New Password
          </label>

          <input
            formControlName="newPassword"
            class="form__input"
            [class.error]="form.get('newPassword')?.invalid && form.get('newPassword')?.touched"
            type="password"
          />
        </div>

        <div class="form__input-group">
          <label
            class="form__label"
            [class.error]="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched">
            Confirm Password
          </label>

          <input
            formControlName="confirmPassword"
            class="form__input"
            [class.error]="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched"
            type="password"
          />
        </div>


          <p class="form__error">{{ errorMessage }}</p>


        <div class="form__button-group">
          <button class="form__button form__button__cancel" type="button" (click)="onFormClosed()">Cancel</button>
          <button class="form__button form__button__submit" type="submit">Confirm</button>
        </div>
      </form>
    } @else {
      <h2 class="form__title">Password Updated</h2>
      <p class="form__description">Your password has been successfully updated!</p>
      <div class="form__button-group">
        <button class="form__button form__button__cancel" type="button" (click)="onFormClosed()">Return</button>
      </div>
    }
  }

  <ng-container *appEventSpinner="{condition : processing ,eventMessage : 'Updating Password', stretchToParent : false}"/>
</div>
