:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding-bottom: 1rem;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Segoe UI', sans-serif;
  gap: 0.5rem;

  width: 100%;
  max-width: 1000px;

  a {
    text-decoration: none;
    transition: opacity 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
    cursor: pointer;

    &.clickable {
      opacity: 0.8;

      &:hover {
        text-decoration: underline;
        opacity: 1;
      }
    }

    &.final {
      font-weight: bold;
      pointer-events: none;
      cursor: default;
      opacity: 1;
    }
  }

  .separator {
    margin: 0 0.25rem;
    user-select: none;
  }
}
