:host {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  flex-grow: 1;
  align-self: stretch;

  padding: 1rem 2rem 2rem;

  @media screen and (max-width: 768px) {
    padding: 1rem;
  }

  @media screen and (max-width: 250px) {
    padding: unset;
  }
}

.project {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 1000px;
  gap: 20px;

  @media screen and (max-width: 920px) {
    justify-content: start;
  }

  @media screen and (max-width: 500px) {
    margin-bottom: 10px;
  }

  &__header {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;

    width: 100%;

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: end;
      flex-direction: row;

      width: 100%;

      @media screen and (max-width: 380px) {
        justify-content: center;
        align-items: start;
        flex-direction: column;

        h4 {
          line-height: normal;
          margin-left: 2px;
        }
      }

      h1 {
        margin-bottom: 0;
      }

      h4 {
        font-size: 15px;
        line-height: 1.6;
      }
    }
  }

  &__small {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 10px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;

    width: 100%;
    gap: 10px;

    @media screen and (max-width: 920px) {
      flex-direction: column;
    }
  }

  // Text view
  &__description {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;

    width: 100%;
    gap: 20px;

    flex-grow: 1;
    align-self: stretch;

    margin-bottom: 10px;

    @media screen and (max-width: 920px) {
      align-items: center;
      text-align: center;
    }

    &__title {
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;

      gap: 5px;
      width: 100%;

      h2 {
        font-size: 1.6rem;

        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        width: 100%;
        padding-bottom: 5px;
      }

      span {
        font-size: 1rem;

        @media screen and (max-width: 920px) {
          text-align: left;
        }
      }
    }

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: start;
      flex-direction: column;

      height: 100%;
      width: 100%;
    }

    &__statistic {
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;

      width: 100%;

      h2 {
        font-size: 1.3rem;
        font-weight: 600;

        margin-bottom: 0.5rem;
        text-align: start;

        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        width: 100%;
        padding-bottom: 5px;
      }

      p {
        font-size: 0.95rem;

        margin: 0.1rem 0;
        text-align: start;
      }
    }
  }

  &__download {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    width: 100%;
    gap: 10px;

    &__links {
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;

      gap: 5px;
      width: 100%;
    }

    h2 {
      font-size: 1rem;
      font-weight: 500;
      color: #f0f0f0;

      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      width: 100%;
      padding-bottom: 5px;
    }

    a {
      font-size: 0.95rem;
      color: #7fbfff;

      text-align: start;
      text-decoration: underline;

      word-wrap: break-word;

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
}
