<ng-container *appEventSpinner="{condition : !isLoaded() ,eventMessage : 'Loading ProjectDto....', stretchToParent : true}"/>
<div [hidden]="!isLoaded()">
  <ng-container [ngTemplateOutlet]="mainview"/>
</div>

<ng-template #mainview>
  @if (project) {
    <div class="project">
      @if (isSmallScreen) {
        <ng-container [ngTemplateOutlet]="small"/>
      } @else {
        <ng-container [ngTemplateOutlet]="large"/>
      }
    </div>
  } @else {
    <p>No project found</p>
  }
</ng-template>


<ng-template #large>
  <!-- Header -->
  <ng-container *ngTemplateOutlet="header; context : {$implicit : project}"/>

  <!-- Content -->
  <div class="project__content">

    <ng-container *ngTemplateOutlet="imageView; context : {$implicit : project}"/>
    <div class="project__description">
      <ng-container *ngTemplateOutlet="description; context : {$implicit : project}"/>
      <ng-container *ngTemplateOutlet="projectInfo; context : {$implicit : project}"/>
    </div>

  </div>

  <!-- Download Section -->
  <ng-container *ngTemplateOutlet="download; context : {$implicit : project}"/>
</ng-template>

<ng-template #small>
  <!-- Header -->
  <ng-container *ngTemplateOutlet="header; context : {$implicit : project}"/>

  <!-- Content -->
  <div class="project__content">
    <ng-container *ngTemplateOutlet="description; context : {$implicit : project}"/>
    <ng-container *ngTemplateOutlet="imageView; context : {$implicit : project}"/>
    <ng-container *ngTemplateOutlet="projectInfo; context : {$implicit : project}"/>
  </div>

  <!-- Download Section -->
  <ng-container *ngTemplateOutlet="download; context : {$implicit : project}"/>
</ng-template>

<ng-template #noProject>
  <p>No ProjectDto Found</p>
</ng-template>

<ng-template #header let-project>
  <div class="project__header">
    <div class="project__header__inner">
      <h1>{{ project.title }}</h1>
      <h4>v{{ project.version }}</h4>
    </div>
  </div>
</ng-template>

<ng-template #imageView let-project>
  <div class="project__view">
    <ng-container *ngTemplateOutlet="displayImage; context : {$implicit : project}"/>
    <ng-container *ngTemplateOutlet="imageList; context : {$implicit : project}"/>
  </div>
</ng-template>

<ng-template #displayImage let-project>
  <div class="main-image" id="main-image-holder">
    <img src="{{selectedImageUrl}}"
         [alt]="project.title + ' | image'"
         class="main-image__image"
         id="main-image"
         (load)="onImageLoad()">
  </div>
</ng-template>

<ng-template #imageList let-project>
  <div class="imageHolder" id="image-holder">
    @for (image of project.images; track i; let i = $index) {
      <div class="imageHolder__holder"
           (click)="changePictureEvent(i, image)">
        <img class="imageHolder__image"
             src="{{image}}"
             id="image-{{i}}"
             alt="{{project.title}} - {{i}}"
             (load)="onImageLoad()"
             loading="eager">
      </div>
    }
  </div>
</ng-template>

<ng-template #description let-project>
  <div class="project__description__title">
    <h2>Description</h2>
    <span>{{ project.description }}</span>
  </div>
</ng-template>

<ng-template #projectInfo let-project>
  <div class="project__description__statistic">
    <h2>Statistics</h2>
    <p>Project Filesize: {{ project.filesize }}</p>
    <p>{{ createProjectString(project.publishedDate) }}</p>
    @for (detail of project.extraDetails; track i; let i = $index){
      <p>{{detail.key}} : {{ detail.value }}</p>
    }
  </div>
</ng-template>

<ng-template #download let-project>
  <div class="project__download">
    <div class="project__download__links">
      <h2>External Mirrors:</h2>
      @for (link of project.links; track i; let i = $index) {
        <a [href]="link.url">{{ i + 1 }}: {{ link.provider }}</a>
      }
    </div>
  </div>
</ng-template>
