<div class="header">
  <div class="header__content">
    <div class="header__left">
      <a class="header__home" routerLink="/">
        <img src="logo.png" alt="Max de Jonge " class="header__logo" />
      </a>
    </div>
    <div class="header__right">
      <a
        class="header__link"
        routerLink="/resume"
        routerLinkActive="header__link__active">Resumé</a>
      <a class="header__link"
         routerLink="/archive"
         routerLinkActive="header__link__active">
        Archive</a>
    </div>
  </div>
</div>
