:host {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.App_Holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  align-self: stretch;
  flex-grow: 1;
}
