:host {
  display: flex;
  flex-direction: column;
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  color: white;
  background: #252525;
}

.App_Holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  align-self: stretch;
  flex-grow: 1;

  background: #252525;
}

.stretch{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
