:host {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.application {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  align-self: stretch;
  flex-grow: 1;
}

.app-base{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  max-width: 1000px;

  gap: 20px;
  padding: 2rem;

  @media screen and (max-width: 768px) {
    padding: 1rem;
  }
}
