<div class="form">
  @if (!processing) {
    <form class="form__form" [formGroup]="form" (submit)="onSubmit()">
      <h2 class="form__title">Enter MFA Code</h2>
      <p>Please insert a verification code from your authenticator</p>

      <div class="form__input-group">
        <label
          class="form__label"
          [class.error]="form.get('code')?.invalid && form.get('code')?.touched">
          MFA Code
        </label>

        <input
          formControlName="code"
          class="form__mfa-input"
          [class.error]="form.get('code')?.invalid && form.get('code')?.touched"
          type="text"
          maxlength="6"
          inputmode="numeric"
          pattern="[0-9]*"
          (input)="onCodeInput()"
        />
      </div>

      <p class="form__error">{{ errorMessage }}</p>

      <div class="form__button-group">
        <button class="form__button form__button__cancel" type="button" (click)="onFormClosed()">Cancel</button>
        <button class="form__button form__button__submit" type="submit">Confirm</button>
      </div>
    </form>
  } @else {
    <ng-container *appEventSpinner="{condition : processing ,eventMessage : processMessage, stretchToParent : false}"/>
  }
</div>

