.cv {
  display: flex;
  flex-direction: row;

  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
  color: #f1f1f1;

  padding: 2rem;

  max-width: 1000px;
  margin: auto;
  gap: 1.5rem;
  background: rgba(18, 18, 18);

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    padding: 1rem;
  }

  &__left {
    flex: 1;

    @media screen and (max-width: 768px) {
      border-bottom: none;
    }

    &__image {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;

      &__pp {
        width: 160px;
        height: 160px;
        border-radius: 25%;
        border: 1px solid #444;
        object-fit: cover;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
      }
    }

    &__cont {
      margin-bottom: 2rem;

      @media screen and (max-width: 768px) {
        &:last-child{
          margin-bottom: 0;
        }
      }

      h3 {
        margin-bottom: 0.5rem;
        color: #f0f0f0;
        font-size: 1.1rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 0.3rem;
        text-transform: uppercase;
        letter-spacing: 0.7px;
      }

      .stretch {
        margin-top: 0.7rem;

        h4 {
          margin: 0;
          font-weight: 600;
          color: #cecece;
        }

        .s_t {
          font-size: 0.9rem;
          color: #bbbbbb;
          margin: 0.3rem 0 0 0;
        }
      }
    }
  }

  &__mid {
    width: 2px;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;

    &__line {
      height: 100%;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__right {
    flex: 2;

    &__title {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;

      margin-bottom: 2rem;
      height: 163px;

      @media screen and (max-width: 768px) {
        margin-bottom: 2rem;
        height: unset;
      }

      h1 {
        font-size: 2.2rem;
        margin: 0;
        color: #ffffff;
      }

      h2 {
        font-size: 1.2rem;
        font-weight: 400;
        margin-top: 0.4rem;
        color: #ffffff;
      }
    }

    &__cont {
      margin-bottom: 2rem;

      @media screen and (max-width: 768px) {
        &:last-child{
          margin-bottom: 0;
        }
      }

      h2 {
        color: #ffffff;
        margin-bottom: 0.7rem;

        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        padding-bottom: 0.3rem;
        text-transform: uppercase;
        font-size: 1.1rem;
        letter-spacing: 0.7px;
        font-weight: 700;
      }

      .stretch {
        margin-top: 1.1rem;

        h3 {
          margin: 0;
          color: #eeeeee;
          font-size: 1.1rem;
        }

        .s_t {
          font-size: 0.9rem;
          margin: 0.3rem 0;
          color: #bbbbbb;
        }
      }
    }
  }

  &__profile,
  &__contact{
    height: 124px;
  }
}
