:host{
  max-width: 300px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  &__content{
    display: flex;
    flex-direction: column;

    margin: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    align-self: stretch;

    gap: 15px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
    align-self: stretch;

    gap: 15px;
  }

  &__title {
    text-align: center;
  }

  &__description {

  }

  &__label {
    &.error {
      color: var(--text-error);
    }
  }

  &__input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    input {
      padding: 0.6rem;
      border: 1px solid #ccc;
      border-radius: 4px;

      &.error {
        border: 1px solid var(--error-color);
        box-shadow: inset 0 0 6px rgba(215, 42, 42, 0.6), 0 0 4px rgba(215, 42, 42, 0.4);
      }
    }
  }

  &__mfa-input{
    text-align: center;
    letter-spacing: 10px;
  }

  &__error {
    color: var(--text-error);
    font-size: 0.9rem;

    margin: 0;
  }

  &__button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  &__button {
    width: 100%;
    max-width: 150px;

    text-align: center;

    padding: 0.8rem 1.6rem;
    background-color: transparent;
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.3s, color 0.3s;

    &:hover {

      cursor: pointer;
      opacity: 0.8;
    }

    &__cancel {
      border: 1px solid #ccc;
      &:hover {
        color: #000;
        background-color: #f0f0f0;
      }
    }

    &__submit {
      border: 1px solid var(--button-secondary);
      &:hover {
        background-color: var(--button-secondary);
      }
    }

    &__dangerous {
      background: var(--button-warning);
      border: 1px solid var(--button-warning);
      &:hover {
        background-color: var(--button-warning);
      }
    }
  }
}
