@if (projectTypesStorage.length > 0) {
  <ng-container *ngTemplateOutlet="projectView"/>
} @else {
  <p>No projects found</p>
}

<ng-template #projectView>
  <div class="project-display">
    <ng-container *appEventSpinner="{condition : !isLoaded(), eventMessage : 'Loading Projects...', stretchToParent : true}"/>

    <div class="project-display__wrapper" [ngStyle]="isLoaded() ? {'display': 'flex'} : {'display': 'none'}">
      <ng-container *ngTemplateOutlet="archiveFilter"/>
      @for (projectType of projectTypes; track $index) {
        <div class="project-display__type-group">
          <div class="project-display__type-group-title-wrapper">
            <div class="project-display__type-group-title-wrapper-head">
              <div class="project-display__type-group-title-wrapper-head-left">
                <img class="type-header-icon"
                     ngSrc="{{projectType.icon}}"
                     width="65" height="65"
                     alt="{{projectType.type}} - icon">
                <h2>{{ projectType.title }}</h2>
              </div>
            </div>
            <hr class="project-display__separator">
          </div>
          <ng-container *ngTemplateOutlet="projects; context: { $implicit: projectType }"/>
        </div>
      }
    </div>
  </div>
</ng-template>

<ng-template #projects let-projectType>
  <div class="project-display__content">
    @for (project of projectType.projects; track $index) {
      <project-holder
        [project]="project"
        [projectType]="projectType"
        [editable]="editable"
        [onEdit]="onEditSelect"
        [onProjectSelect]="onProjectSelect"
        (loaded)="onImagesLoad()"/>
    }
  </div>
</ng-template>

<ng-template #archiveFilter>
  <form class="project-display__filter"
        [formGroup]="filterGroup">

    <div class="project-display__filter-selection">
      <p class="project-display__filter-title s_t">
        Selection:
      </p>

      <select
        formControlName="selectControl"
        class="project-display__filter-search-field"
        [(ngModel)]="selectedFilter">

        <option value="All" selected="selected">All</option>

        @for (projectType of projectTypesStorage; track $index) {
          <option [value]="projectType.type">
            {{ projectType.type }}
          </option>
        }
      </select>
    </div>

    <div class="project-display__filter-form">
      <p class="project-display__filter-title s_t">
        Project Search:
      </p>

      <div class="project-display__filter-form-wrapper">
        <input
          formControlName="inputControl"
          class="project-display__filter-search-field"
          placeholder="filter..."
          type="text"/>
      </div>
    </div>
  </form>
</ng-template>
