<div class="form">
  <div class="form__content">
    <ng-container #dynamicComponentContainer></ng-container>

    @if (!processing && !mfaCheck) {
      @if (!updated) {
        <form [formGroup]="form" (ngSubmit)="submit()" class="form__form">
          <div class="form__input-group">
            <label
              class="form__label"
              [class.error]="form.get('username')?.invalid && form.get('username')?.touched"
            >
              Username
            </label>

            <input
              formControlName="username"
              [class.error]="form.get('username')?.invalid && form.get('username')?.touched"
              type="text"
            />
          </div>

          <div class="form__input-group">
            <label
              class="form__label"
              [class.error]="form.get('password')?.invalid && form.get('password')?.touched"
            >
              Password
            </label>

            <input
              formControlName="password"
              [class.error]="form.get('password')?.invalid && form.get('password')?.touched"
              type="password"
            />
          </div>

          <p class="form__error">{{ errorMessage }}</p>

          <div class="form__button-group">
            <button class="form__button form__button__cancel" type="button" (click)="onFormClosed()">Cancel</button>
            <button class="form__button form__button__submit" type="submit">Login</button>
          </div>
        </form>
      } @else {
        <h2 class="form__title">Logged in</h2>
        <p class="form__description" style="text-align: center">
          Your are successfully logged in! You can now use features like uploading new mods and commenting</p>
        <div class="form__button-group" style="justify-content: center">
          <button class="form__button form__button__cancel" type="button" (click)="onFormClosed()">Return</button>
        </div>
      }
    }
    <ng-container *appEventSpinner="{condition : processing && !mfaCheck ,eventMessage : processMessage, stretchToParent : true}"/>
  </div>
</div>
