.spinner__stretch {
  height: 100%;
  width: 100%;

  :host {
    height: 100%;
    width: 100%;
  }
}

.spinner__root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.spinner__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  gap: 30px;
}

.spinner__wrapper {
  position: relative;
  display: inline-block;
}

.spinner__animation {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid var(--spinner-track-color);
  border-left-color: var(--spinner-primary-color);

  animation: spin 1s linear infinite;
}

.spinner__text {
  width: 100%;
  text-align: center;

  background: var(--spinner-text-gradient);
  background-size: 200% 100%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: pulseBackground 2s linear infinite;
}

.spinner__progress {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 4px solid var(--spinner-track-color);
    box-sizing: border-box;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 4px solid transparent;

    border-top-color: var(--spinner-progress-color);

    transform: rotate(calc(var(--fill, 0%) * 3.6deg));
    transform-origin: center;

    box-sizing: border-box;
    transition: transform 0.2s ease-in-out;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
