.spinner__root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.spinner__stretch {
  height: 100%;
  width: 100%;
}

.spinner__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.spinner__wrapper {
  position: relative;
  display: inline-block;
}

.spinner__animation {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.1);

  border-left-color: #fff;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner__progress {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: green;
    transform: rotate(calc(var(--fill, 0%) * 3.6deg));
    transform-origin: center;
    box-sizing: border-box;
    transition: transform 0.2s ease-in-out;
  }
}
