<div class="upload-form">
  <ng-container *ngTemplateOutlet="uploadForm"></ng-container>
</div>

<ng-template #uploadForm>
  @if (uploading && file) {
    <ng-container [ngTemplateOutlet]="uploadingFile"/>
  } @else if (file) {
    <ng-container [ngTemplateOutlet]="fileStaged"/>
  } @else {
    <ng-container [ngTemplateOutlet]="selection"/>
  }
</ng-template>

<ng-template #selection>
  <div class="upload-form__buttons">
    <app-button
      [color]="'PRIMARY'"
      type="button"
      [buttonText]="hasFile ? fileName + ' | Filesize: ' + formatBytes(parseInt(fileSize)) : 'upload a file'"
      (buttonClick)="selectFile()"/>
    @if (hasFile) {
      <app-button
        class="upload-form__remove-button"
        [color]="'DANGEROUS'"
        type="button"
        [buttonText]="'Delete file'"
        (buttonClick)="deleteFile()"/>
    }
  </div>
</ng-template>

<ng-template #fileStaged>
  @if (file) {
    <div class="upload-form__upload-info">
      <div class="upload-form__buttons">
        <app-button
          [color]="'SECONDARY'"
          type="button"
          [buttonText]="'Upload selected file'"
          (buttonClick)="upload()"/>
        <app-button
          [color]="'PRIMARY'"
          type="button"
          [buttonText]="'Remove'"
          (buttonClick)="removeFile()"/>
      </div>
      <div class="upload-form__buttons">
        <p>Filename: {{ file.name }}</p>
        <p>Filesize: {{ formatBytes(file.size) }}</p>
      </div>
    </div>
  }
</ng-template>

<ng-template #uploadingFile>
  @if (file) {
    <div class="upload-form_buttons">
      <ng-container *appEventSpinner="{ condition: uploading, stretchToParent: true }"></ng-container>
      <p>
        {{ uploadMessage }}<br>
        {{ currentProgress ? currentProgress : formatBytes(0) }}/{{ formatBytes(file.size) }}
      </p>
      <app-button
        [color]="'PRIMARY'"
        type="button"
        [buttonText]="'Cancel'"
        (buttonClick)="cancelUpload()"/>
    </div>
  }
</ng-template>
